* {
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior:smooth;

}

.text-focus-in{animation:text-focus-in 5s cubic-bezier(.55,.085,.68,.53) }
@keyframes text-focus-in{0%{filter:blur(17px);opacity:0}100%{filter:blur(0);opacity:1}}

.slide-in-elliptic-left-bck{animation:slide-in-elliptic-left-bck 1s linear 8s both}
@keyframes slide-in-elliptic-left-bck{0%{transform:translateX(-800px) rotateY(-30deg) scale(6.5);transform-origin:200% 50%;opacity:0}100%{transform:translateX(0) rotateY(0) scale(1);transform-origin:-600px 50%;opacity:1}}

.slide-in-elliptic-bottom-bck{animation:slide-in-elliptic-bottom-bck 1s cubic-bezier(.25,.46,.45,.94) 8s both}
@keyframes slide-in-elliptic-bottom-bck{0%{transform:translateY(600px) rotateX(-30deg) scale(6.5);transform-origin:50% -100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% 500px;opacity:1}}

.slide-in-elliptic-top-fwd{animation:slide-in-elliptic-top-fwd 1s cubic-bezier(.25,.46,.45,.94) 8s both}
@keyframes slide-in-elliptic-top-fwd{0%{transform:translateY(-600px) rotateX(-30deg) scale(0);transform-origin:50% 100%;opacity:0}100%{transform:translateY(0) rotateX(0) scale(1);transform-origin:50% 1400px;opacity:1}}



a {
    text-decoration: none;
    color: gold;
}

#nr {
	background-color: rgb(25,25,48);
}

#h {

    text-align: center;
    top: 0;
    padding: 86px;
    left: 0;
    width: 100%;
    background-color: teal;
    color: gold;
    position: fixed;
    font-family: "Jost";
    z-index: 1;
    font-size: 100px;

}

#q {
    color: purple/*#A70D2A*/;
    font-family: 'Jost';
    text-align: center;

    cursor: pointer;
    font-size: 60px;
}

#s {
    color: rgb(221, 227, 228)/*#A70D2A*/;
    font-family: 'Jost';

    cursor: pointer;
    font-size: 60px;
}

#t {
    color: rgb(227, 236, 237)/*#A70D2A*/;
    font-family: 'Jost';


    cursor: pointer;
    font-size: 60px;
}

#v {
    color: rgba(249, 247, 233, 0.752);
    font-family: 'Jost';
    text-align: left; 
    padding: 0;
    left: 0;
    cursor: pointer;
    font-size: 60px;
}


#f {
    padding: 14px;
    text-align: center;
    background: rgba(25, 26, 48, 0.5);
    color: whitesmoke;
    font-size: 19px;
    font-family: "Jost";
}

/* #j {
    background-color: rgba(255, 255, 255)
} */

#loader{
	position: fixed;
	width: 100%;
	height: 100vh;
	background: #fbfbfb url('Load.gif') no-repeat center;
	z-index: 999;
}

#content {
    font-family: Jost;
}

.df {
    width: auto;
    zoom: 200%;
    height: auto;

}

body {
    display: flexbox;
    background-image: url("f2.jpg");
/*     background-repeat: repeat; */
	background-size: cover;
    color: white;
    font-family: 'Jost', sans-serif;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    top: 0;
    width: 100%;
    background-color: rgb(233, 47, 14);

}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    list-style: none;
    margin: 0px 32px;
}

nav ul li a {
    text-decoration: none;
    font-size: 34px;
    color: white
}


main hr {
    border: 0;
    background: #f8f8ff;
    height: 8.5px;
    margin: 200px 100px;
}

.left {
    font-size: 30px;
}

.firstSection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aliceblue;
    margin: 130px  0;

}

.firstSection>div {
    width: 400px;
    padding: 20px;
}

.leftSection {
    background-size: cover;
    background-repeat: repeat-Y;
    /* background-image: url("f4.jpg"); */
     background-blend-mode:difference;
    font-weight: bold;
    border-radius: 8px;
    padding: 20px 20px;
    background-color: rgba(255, 99, 71, 0.7);
    font-size: 30px;
    color: rgb(0, 0, 0)
}


.rightSection   {

    position:relative;
    overflow: visible;

}

.img {
    width: 50%;
    padding: 80px;
    border-radius: 300px;

}

.purple {
    font-size: 50px;
    color: rgb(0, 77, 98)
}

.text-gray {
    color: gray;
}

#element {

    color:  rgb(2, 43, 15);
    font-size: 30px;
    font-family: Jost;
    font-weight: lighter;
}

.secondSection {
    max-width: 80vw;
    margin: auto;
    height: 80vh;
}

.secondSection h1 {
    font-size: 1.9rem;
}



.secondSection .box {
    background: white;
    width: 77vw;
    height: 2px;
    margin: 56px 0;
    display: flex;
}

.secondSection .vertical {
    height: 93px;
    width: 1px;
    background-color: white;
    margin: 0 120px;
}



button {
    font-family: Jost;
    font-size: large;
    color: #f8f8ff;
    display: inline-block;
    margin: 80px 50px;
    border-radius: 8px;
    border: 4px solid rgb(255, 255, 1);
    background-color: teal;
    text-decoration:none;
    cursor: pointer;
    position: relative;
    padding: 15px 25px;
}


.slide-top {animation:slide-top 2s cubic-bezier(.25,.46,.45,.94) infinite alternate-reverse both}
@keyframes slide-top{0%{transform:translateX(0)}100%{transform:translateX(50px)}}

.div1 {
    border: 5px solid rgb(255, 255, 255);
    padding: 32px;
}

.div2 {
    border:5px solid rgb(255, 255, 255);
    padding: 32px;
    font-size: 20px;
    text-align: center;
}

/*.image-top {
    height: auto;
    width:auto;
}*/

.container {
    display: inline-flexbox;
    background-color: rgba(255, 255, 255, 0.5);
    height: auto;
    justify-content: center;
   align-items: center;

}

img{
    width: 100%;
    height: auto;
    filter: brightness(85%);
    border-radius: 5px;
    position: relative;
  }
  
  .card {
    background-image: url("f7.jpg"); 
    /* background-color: skyblue; */
    background-size: cover;
    color: rgb(93, 7, 163);
    box-shadow:  5px 5px 20px rgb(252, 249, 249);
    height: auto;
    width: auto;
    transition: 0.1s;
    margin: 32px 25px;
    border-radius: 0px;


  }


  .card1{
    background-image: url("f3.jpg");
    background-size: cover;
    box-shadow:  5px 5px 20px rgb(240, 234, 234);
    /* background-color: rgb(1, 92, 1); */
    height: auto;
    width: auto;
    transition: 0.1s;
    margin: 32px 25px;
    border-radius: 0px;


  }

  .card2{
    background-image: url("f4.jpg");
    background-size: cover;
    box-shadow:  5px 5px 20px rgb(240, 234, 234);
    /* background-color: lightcoral; */
    height: auto;
    color: black;
    width: auto;
    filter: brightness(75%);
    transition: 0.1s;
    margin: 32px 25px;
    border-radius: 0px;
   

  }

.card4{
    background-image: url("DEL.jpg");
    background-size: cover;
    box-shadow:  5px 5px 20px rgb(240, 234, 234);
    background-color: rgba(233, 4, 210, 0.2);
    height: auto;
    width: auto;
    transition: 0.1s;
    margin: 32px 25px;
    border-radius: 0px;
   

  }

  .card4:hover {
  
    box-shadow: 0 8px 16px 0 rgb(132, 0, 255);
  }

  
  .card:hover {
  
    box-shadow: 0 8px 16px 0 rgb(255, 0, 0);
  }

  .card1:hover {
  
    box-shadow: 0 8px 16px 0 rgb(132, 0, 255);
  }

  .card2:hover {
  
    box-shadow: 0 8px 16px 0 rgb(72, 234, 110);
  }

  #card3{
  
    box-shadow:  5px 5px 20px rgb(240, 234, 234);
    background-color: rgba(0, 0, 0, 0.9);
    height: auto;

    width: auto;
    transition: 0.1s;
    margin: 32px 25px;
    border-radius: 5px;


  }



/*.ut {
    position: relative;
    width: 100px;
    height: 100px;
}*/

.wobble-hor-bottom{animation:wobble-hor-bottom 2.5s infinite alternate-reverse both}
@keyframes wobble-hor-bottom{0%,100%{transform:translateX(0);transform-origin:50% 50%}15%{transform:translateX(-30px) rotate(-6deg)}30%{transform:translateX(15px) rotate(6deg)}45%{transform:translateX(-15px) rotate(-3.6deg)}60%{transform:translateX(9px) rotate(2.4deg)}75%{transform:translateX(-6px) rotate(-1.2deg)}}

/* .htl {
    height: 170px;
    left: 0;
    margin-top: -100px;
    margin-left: 30px;
    filter:brightness(90%);
    background-color: #3a3a39;
    width: 700px;
    display: inline-flexbox;
} */

#element1 {
    color:  rgb(255, 255, 255);
    font-size: 9px;
    font-family: Jost;
    font-weight: lighter;
}
